:root {
    --card-size: 330px;
    --card-margin: 10px;
}

.container {
    margin: auto;
    max-width: 700px;
}

.unformatted {
    text-decoration: none;
    color: inherit;
}

.cards {
    display: grid;
    grid-template-columns: repeat(
        4,
        calc(var(--card-size) / 2 + var(--card-margin))
    );
    grid-auto-flow: dense;
    justify-content: center;
}
.big {
    grid-row: auto/span 2;
    grid-column: auto/span 2;
    height: var(--card-size);
    width: var(--card-size);
}
.small {
    height: calc(var(--card-size) / 2 - var(--card-margin));
    width: calc(var(--card-size) / 2 - var(--card-margin));
    font-size: 0.7em;
}
.card {
    margin: var(--card-margin);
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.5);
}
.card .title {
    font-weight: bold;
}
.card .meta {
    font-weight: lighter;
    color: gray;
    padding-bottom: 0em;
}
.card hr {
    width: 100%;
    padding-top: 0px;
    border-color: gray;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}
.tag {
    font-size: 0.9em;
    padding: 0.2em;
    margin: 0.1em;
    border-radius: 0.25em;
}
.primary {
    color: white;
    background-color: rgb(16, 97, 122);
}
.secondary {
    color: white;
    background-color: rgb(16, 147, 191);
}
.tertiary {
    color: black;
    background-color: lightblue;
}
